body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #ffffff;
}

footer {
    background-color: #0055c2;
}

h1 {
    margin: 0;
}

h2 {
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
    background-color: #005dd2;
    padding: 0.5em 1.5em 1em;
    margin: 1em;
    border-radius: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

.section-content {
    background-color: #bedbff;
    padding: 1em;
    margin: 0.5em;
    box-sizing: border-box;
    border-radius: 0.3em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.section-item {
    margin-bottom: 0.8em;
}

.button-section {
    margin-top: 2em;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1em;
}

.copyright {
    color: white;
}

.field-title {
    font-weight: bold;
}

.note {
    color: #e0e0e0;
    font-style: italic;
}

.main-button {
    background-color: #bedbff;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1em;
    border-color: #a9a9a9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

.main-button:hover {
    font-size: x-large;
}

.main-button:active {
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.7);
}

.errorMessage {
    color: red;
    font-size: medium;
}

.big-text-box {
    width: 100%;
    height: 10em;
}

.giant-text-box {
    width: 100%;
    height: 20em;
}

#map {
    height: 600px;
    width: 100%;
}

button {
    background-color: #85a0de;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1em;
    border-color: #85a0de;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

button:active {
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.7);
}