<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
       <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>servlets.GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsUsernameAvailable</servlet-name>
        <servlet-class>servlets.IsUsernameAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsEmailAvailable</servlet-name>
        <servlet-class>servlets.IsEmailAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsTelephoneAvailable</servlet-name>
        <servlet-class>servlets.IsTelephoneAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>servlets.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveUser</servlet-name>
        <servlet-class>servlets.RetrieveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetActiveSession</servlet-name>
        <servlet-class>servlets.GetActiveSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>servlets.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutUser</servlet-name>
        <servlet-class>servlets.LogoutUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfoField</servlet-name>
        <servlet-class>servlets.UpdateInfoField</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/GetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsUsernameAvailable</servlet-name>
        <url-pattern>/IsUsernameAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsEmailAvailable</servlet-name>
        <url-pattern>/IsEmailAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsTelephoneAvailable</servlet-name>
        <url-pattern>/IsTelephoneAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveUser</servlet-name>
        <url-pattern>/RetrieveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActiveSession</servlet-name>
        <url-pattern>/GetActiveSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutUser</servlet-name>
        <url-pattern>/LogoutUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfoField</servlet-name>
        <url-pattern>/UpdateInfoField</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
